* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: grey;
}

.main {
    width: 80%;
    margin: auto;
}

.movie-card {
    display: inline-block;
    width: 100%;
    background-color: antiquewhite;
}

.left {
    width: 15%;
    float: left;
}
.left img{
    width: 100%;
    height: auto;
}

.right {
    width: 85%;
    text-align: center;
    float: right;
}

.title {
    height: 80px;
    font-size: 3rem;

}


.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}